[Unit]
Description=Node.js App
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/ec2-user/project
ExecStart=/usr/bin/node /home/ec2-user/project/index.js
Restart=always


[Install]
WantedBy=multi-user.target
